/**
 * Custom classes to set structural styles to form labels.
 */

.slab-label {
  line-height: $base-font-size;
  max-width: 190px;
  padding-right: 15px;
  margin-bottom: 0;
}

.slab-form-title {
  font-size: 1.1rem;
  font-weight: bold;
}
