/**
 * Custom classes to set structural styles to form labels.
 */

.slab-label {
  line-height: $base-font-size;
  width: 150px;
  padding-right: 15px;
  margin-bottom: 0;
}

.slab-label-small {
  max-width: 100px;
}

.slab-label-large {
  max-width: 200px;
}

.slab-form-title {
  font-size: 1.1rem;
  font-weight: bold;
}
